:root {
    /* Winter Quarter Variables */

    /* Colors */
    --background-primary: rgba(31, 31, 31, 1);
    --background-secondary: rgba(15, 15, 15, 1);
    --label-primary: rgba(245, 245, 254, 1);
    --label-secondary: rgba(245, 245, 254, 0.7);
    --label-tertiary: rgba(245, 245, 254, 0.3);
    --divider-solid: rgba(77, 77, 77, 1);
    --divider-transparent: rgba(255, 255, 255, 0.2);
    --accent-dark: rgba(167, 113, 255, 1);
    --transparent: rgba(245, 245, 245, 0);


    /* Spring Quarter Variables */
    --sideMenu-gameModeLogo-size: 1.2rem;
    --correct-green: #34C759;
    --incorrect-red: #eb4e3d;


}

/************ FONTS ************/
body {
    margin: 0px;
    padding: 0px;
    font: 400 17px/20px 'Fira Sans', sans-serif;
    color: var(--label-secondary);
    background-color: var(--background-primary);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--label-primary);
}

h1 {
    font: 600 34px/41px sans-serif;
}

h2 {
    font: 600 22px/28px sans-serif;
}

h3 {
    font: 600 22px/28px sans-serif;
}

h4 {
    font: 600 17px/20px 'Fira Code', monospace;
}

h5 {
    font: 400 17px/20px 'Fira Code', monospace;
}

button {
    font: 600 17px/20px 'Fira Code', monospace;
}

c {
    font: 300 12px/16px 'Fira Sans Condensed', sans-serif;
}

/************ LAYOUT ************/
.parentLayoutContainer {
    height: 100vh;
    display: flex;
}

.layoutColumn {
    padding: 20px;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.spaced {
    justify-content: space-between;
}


/*******SIDE MENU STYLES*******/

#sideMenu {
    width: 240px;
    background-color: var(--background-secondary);
}

hr.menuDivider {
    width: 100%;
    color: var(--divider-transparent);
}

.burgerMenuIcon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 20px;
    display: none;
}


/*Game Mode List Element (button to select each game mode)*/

#menu-gameModesList .gameMode-element:hover {
    border: 1px solid var(--accent-dark) !important;
    padding: calc(10px - 0.5px) calc(15px - 0.5px) calc(10px - 0.5px) 0px;
    cursor: pointer;
}

#menu-gameModesList .gameMode-element {
    background-color: var(--background-secondary);
    padding: 10px 15px 10px 0px;
    border-radius: 10px;
    /*top right bottom left*/
    margin-top: 10px;
    margin-bottom: 10px;
    /*don't allow users to highlight the text in these buttons*/
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#menu-gameModesList .gameMode-element.selected {
    /* background-color: var(--accent-dark); */
    border: solid 1px var(--label-primary);
}


/*Game Mode Icon*/

#menu-gameModesList .gameMode-element .gameModeIcon {
    width: var(--sideMenu-gameModeLogo-size);
    height: var(--sideMenu-gameModeLogo-size);
    padding: 10px;
}

.gameMode-element.selected .gameModeIcon .a,
.gameMode-element.selected {
    /* fill: var(--accent-dark) !important; */
    stroke: var(--label-primary);
    color: var(--label-primary);
}


/*Game Mode Title*/

#menu-gameModesList .gameMode-element .gameModeTitle-container {
    align-items: center;
    /*adding display:flex decided to increase height so change it back to image size*/
    height: var(--sideMenu-gameModeLogo-size);
}

#menu-gameModesList .gameMode-element .gameModeTitle {
    display: inline;
}



/*Game Mode Description*/

#menu-gameModesList .gameMode-element .gameModeDescription {
    /*make sure to indent the text description enough*/
    margin-left: var(--sideMenu-gameModeLogo-size);
    padding-left: 20px;
}


/*******MAIN CONTENT STYLES*******/

.mainContent {
    flex: 1;
    background-color: var(--background-primary);
    align-items: center;
    justify-content: center;
    /*Content was cutting when we had a lot of it so fixing the margins allows it to be aligned to the top*/
    height: 100%;
    /* margin-bottom: auto; */
}

.mainContent.hiddenMainContent {
    display: none;
}

.titlePage {
    text-align: center;
}

/*********************** SPOTCARD *************************/


/*
options for spotCard classes:
    spotCard gpt-answer unclicked
    spotCard gpt-answer clicked
    spotCard gpt-answer final
    spotCard human-answer unclicked
    spotCard human-answer final
*/

.spotCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 2rem 2rem 2rem;
    border: 1px solid var(--divider-solid);
    border-radius: 20px;
    /*don't allow users to highlight the text in these buttons*/
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


/**** cards ****/

.spotCard.unclicked:hover {
    cursor: pointer;
    border: 1px solid var(--accent-dark);
}

.spotCard.gpt-answer.clicked {
    border: 1px solid var(--divider-solid);
}

.spotCard.gpt-answer.final {
    border: 1px solid var(--label-secondary);
}

.spotCard.human-answer.final {
    border: 1px solid var(--correct-green);
}


/**** h3 ****/

.spotCard h3 {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

.spotCard.unclicked h3 {
    opacity: 0;
}

.spotCard.gpt-answer.clicked h3 {
    color: var(--label-tertiary);
}

.spotCard.gpt-answer.final h3 {
    color: var(--label-primary);
}

.spotCard.human-answer.final h3 {
    color: var(--correct-green);
}

@keyframes change-h3 {
    0% {
        color: var(--label-secondary);
        border: 0.5px solid var(--divider-solid);
    }
    25% {
        color: var(--incorrect-red);
        border: 0.5px solid var(--incorrect-red);
    }
    75% {
        color: var(--incorrect-red);
        border: 0.5px solid var(--incorrect-red);
    }
    100% {
        color: var(--label-tertiary);
        border: 0.5px solid var(--divider-solid);
    }
}


/**** p ****/

.spotCard p {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}


/************************* END SPOTCARD ***********************/


/* Ending page */

.endingPage h2 {
    color: var(--accent-dark);
}

.endingPage p:first-of-type {
    margin-bottom: 5rem;
}

button {
    background-color: var(--accent-dark);
    color: var(--label-primary);
    border: none;
    padding: 20px 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none
}

.invisible {
    visibility: hidden;
}

/* Hide left column when screen is less than 800px */
@media only screen and (max-width: 800px) {
    #sideMenu {
        display: none;
    }
    .burgerMenuIcon {
        display: block;
    }
    /**/
    .spotCardParent {
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }
    .spotCard {
        padding: 1rem;
        width: 80%;
        overflow-y: auto;
        overflow-x: clip;
    }
    .userInputPage h2 {
        margin-top: 7rem;
        font-size: 1.1rem;
    }
}