
@import url('styles.css');

/************ NAV BAR STYLING ************/
.navbar {
  height: 80px;
  width: 100%;

  position: fixed;
  background-color: var(--background-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
  margin-right: 1rem;
}

a,
#menu-btn {
  text-decoration: none;
  color: var(--label-secondary);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 0;
  margin: 0 1rem;
}

a:hover,
#menu-btn:hover {
  box-shadow: inset 0 -2px 0 0 var(--label-primary);
  color: var(--label-primary);
}

a.logo:hover {
  box-shadow: none;
  color: var(--label-secondary);
}

a.current {
  box-shadow: inset 0 -2px 0 0 var(--label-primary);
  color: var(--label-primary);
}

#menu-btn {
  display: none;
  background-color: transparent;
  border-radius: 0px;
  margin-right: 0.5rem;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

@media (max-width: 685px) {
  /* NAV BAR NEEDS TO GO TO HAMBURGER MENU */
  #menu-btn {
    display: block;
  }

  li > a {
    display: none;
  }
}