:root {
    /* Winter Quarter Variables */

    /* Colors */
    --background-primary: rgba(31, 31, 31, 1);
    --background-secondary: rgba(15, 15, 15, 1);
    --background-card: rgba(255, 255, 255, 0.05);
    --label-primary: rgba(245, 245, 254, 1);
    --label-secondary: rgba(245, 245, 254, 0.7);
    --label-tertiary: rgba(245, 245, 254, 0.3);
    --divider-solid: rgba(77, 77, 77, 1);
    --divider-transparent: rgba(255, 255, 255, 0.2);
    --accent-dark: rgba(130, 82, 209, 1);
    --accent-light: rgba(167, 113, 255, 1);
    --transparent: rgba(245, 245, 245, 0);


    /* Spring Quarter Variables */
    --sideMenu-gameModeLogo-size: 1.2rem;
    --correct-green: #34C759;
    --incorrect-red: #eb4e3d;


}


/************ FONTS ************/
body {
    margin: 0px;
    padding: 0px;
    font: 400 17px/20px 'Fira Sans', sans-serif;
    color: var(--label-secondary);
    background-color: var(--background-secondary);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--label-primary);
}

h1 {
    font: 600 34px/41px 'Fira Sans', sans-serif;
    margin: 0;
}

h2 {
    font: 600 24px/36px 'Fira Sans', sans-serif;
}

h3 {
    font: 600 22px/28px 'Fira Sans', sans-serif;
}

h4 {
    font: 600 17px/20px 'Fira Sans', sans-serif;
}

h5 {
    font: 400 17px/20px 'Fira Sans', sans-serif;
}

button {
    font: 600 17px/20px 'Fira Sans', sans-serif;
}

c {
    font: 300 12px/16px 'Fira Sans Condensed', sans-serif;
}

c > p {
    padding: 0;
    margin: 0;
}

/************ LAYOUT ************/

.userInputPage {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#spotCardsContainer {
    width: 70%;
    background: rgba(31, 31, 31, 1);
    align-items: center;
    flex-direction: column;
    display: flex;
    border-radius: 8px;
}

#spotCardsContainer h2 {
    width: 65%;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}

#scoreCardContainer {
    width: 30%;
    background: rgba(31, 31, 31, 1);
    width: 282px;
    height: 154px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.parentLayoutContainer {
    height: 100vh;
    display: flex;
}

.layoutColumn {
    padding: 20px;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.spaced {
    justify-content: space-between;
}


/*Game Mode List Element (button to select each game mode)*/

#menu-gameModesList .gameMode-element:hover {
    border: 1px solid var(--accent-dark) !important;
    cursor: pointer;
}

#menu-gameModesList .gameMode-element {
    background-color: var(--background-secondary);
    padding: 20px 15px 20px 0px;
    border-radius: 10px;
    border: solid 1px var(--transparent);
    /*top right bottom left*/
    margin-top: 10px;
    margin-bottom: 10px;
    /*don't allow users to highlight the text in these buttons*/
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#menu-gameModesList .gameMode-element.selected {
    /* background-color: var(--accent-dark); */
    border: solid 1px var(--label-primary);
}


/*Game Mode Icon*/

#menu-gameModesList .gameMode-element .gameModeIcon {
    width: var(--sideMenu-gameModeLogo-size);
    height: var(--sideMenu-gameModeLogo-size);
    padding: 10px;
}

.gameMode-element.selected .gameModeIcon .a,
.gameMode-element.selected {
    /* fill: var(--accent-dark) !important; */
    stroke: var(--label-primary);
    color: var(--label-primary);
}


/*Game Mode Title*/

#menu-gameModesList .gameMode-element .gameModeTitle-container {
    align-items: center;
    margin-bottom: 4px;
    /*adding display:flex decided to increase height so change it back to image size*/
    height: var(--sideMenu-gameModeLogo-size);
}

#menu-gameModesList .gameMode-element .gameModeTitle {
    display: inline;
}



/*Game Mode Description*/

#menu-gameModesList .gameMode-element .gameModeDescription {
    /*make sure to indent the text description enough*/
    margin-left: var(--sideMenu-gameModeLogo-size);
    padding-left: 20px;
}


/*******MAIN CONTENT STYLES*******/

.mainContent {
    flex: 1;
    background-color: var(--background-secondary);
    align-items: center;
    justify-content: center;
    /*Content was cutting when we had a lot of it so fixing the margins allows it to be aligned to the top*/
    height: 100%;
    /* margin-bottom: auto; */
}

.mainContent.hiddenMainContent {
    display: none;
}

.titlePage {
    text-align: center;
}

/*********************** SPOTCARD *************************/


/*
options for spotCard classes:
    spotCard gpt-answer unclicked
    spotCard gpt-answer clicked
    spotCard gpt-answer final
    spotCard human-answer unclicked
    spotCard human-answer final
*/

.spotCard {
    flex: 1;
    margin: 10px 0;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    padding: 20px;
    /*don'tallowuserstohighlightthetextinthesebuttons*/-webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: rgba(255, 255, 255, .05);
    color: rgba(245, 245, 245, .7);

}

/**** cards ****/

.spotCard.unclicked:hover {
    cursor: pointer;
    border: 1px solid var(--accent-dark);
}

.spotCard.gpt-answer.clicked {
    border: 1px solid var(--divider-solid);
}

.spotCard.gpt-answer.final {
    border: 1px solid var(--label-secondary);
}

.spotCard.human-answer.final {
    border: 1px solid var(--correct-green);
}
.spotCard.unclicked h3 {
    display: none;
}

.spotCard.gpt-answer.clicked h3 {
    animation: change-h3;
    color: var(--label-tertiary);
    -webkit-animation: change-h3;
}

.spotCard.gpt-answer.final h3 {
    color: var(--label-primary);
}

.spotCard.human-answer.final h3 {
    color: var(--correct-green);
}

@keyframes change-h3 {
    0% {
        color: var(--label-secondary);
        border: 1px solid var(--divider-solid);
    }
    25% {
        color: var(--incorrect-red);
        border: 1px solid var(--incorrect-red);
    }
    75% {
        color: var(--incorrect-red);
        border: 1px solid var(--incorrect-red);
    }
    100% {
        color: var(--label-tertiary);
        border: 1px solid var(--divider-solid);
    }
}

#beginSpotGameBtn {
    margin-top: 1em;
}

.spotCard > p,
.multiline-text {
    line-height: 1.5em;
}


/************************* END SPOTCARD ***********************/
/*Tutorial*/

.tutorialCard {
    width: 25%;
    padding: 2rem;
    margin: 0.5rem;
    background-color: var(--background-primary);
    border-radius: 24px;
}
.tutorialCard div:first-child {
    font-weight: 600;
}
.tutorialAnswers {
    box-shadow: 0px 0px 4px rgba(245, 245, 245, 0.2);
    border-radius: 8px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.tutorialAnswerChoice {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    margin: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    font-weight: 600;
}
.tutorialAnswerChoice div:first {
    width:10%;
}
.tutorialAnswerChoice div:nth-child(2) {
    width:85%;
    text-align: center;
    font-size: 24px;
}
.tutorialPlaceholder {
    background: rgba(245, 245, 245, 0.3);
    border-radius: 10px;
    margin: 1rem;
    line-height: 80%;
}
.tutorialPlaceholder2 {
    background: rgba(245, 245, 245, 0.3);
    border-radius: 10px;
    margin: 1rem;
    width: 70%;
    margin-bottom: 2rem;
    line-height: 80%;
}

/*Score Card*/

.mainScoreContent {
    font-size: 36px;
    color: white;
}
.smallScoreContent {
    font-size: 12px;
    font-weight: 700;
}
.scoreCard {
    text-align: center;
}
.playerElement {
    padding: 1rem;
}

#questionCount {
    margin-top: 20px;
}
/* Ending page */

.endingPage h2 {
    color: var(--accent-dark);
}

.endingPage p:first-of-type {
    margin-bottom: 5rem;
}

button {
    background-color: var(--accent-dark);
    color: var(--label-primary);
    border: none;
    padding: 20px 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none
}

.invisible {
    visibility: hidden;
}

/* Hide left column when screen is less than 800px */
@media only screen and (max-width: 800px) {
    #sideMenu {
        display: none;
    }
    .burgerMenuIcon {
        display: block;
    }
    /**/
    .spotCardParent {
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }
    .spotCard {
        padding: 1rem;
        width: 80%;
        overflow-y: auto;
        overflow-x: clip;
    }
    .userInputPage h2 {
        margin-top: 7rem;
        font-size: 1.1rem;
    }
}

footer {
    text-align: center;
    background-color: var(--background-primary);
}